@import '../colors';

.container {
    border-top: 1px solid $border-color;
    background: #fff;
    display: flex;
    align-items: center;
}

.edt {
    border: none;
    resize: none;
    font-size: 15px;
    font-family: 'Nota Sans';
    font-weight: 400;
    padding: 8px 16px;
    color: $base-color;
    outline: 0px;
    line-height: 20px;
    letter-spacing: 0.6px;
    flex: 1 0 auto;
}
.btn {
    color: #979fb4;
    cursor: pointer;
    font-size: 16px;
    padding: 28px;
    border: none;
    background-color: #fff;
    line-height: 0;
    &:hover {
        background-color: #f6f7fb;
    }

    &.disable {
        cursor: not-allowed;
    }
}
